# OS-specific files
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules
.pnpm-debug.log
.pnpm-store/

# Build output
dist/
lib-cov/
build/
build/Release/

# Coverage directories
coverage/
.nyc_output/

# Grunt intermediate storage
.grunt/

# Babel
*.babelrc
*.babelrc.js
*.babelrc.json
babel.config.js
babel.config.json

# VSCode
.vscode/
*.code-workspace

# Environment files
.env
.env.*

# Puppeteer
screenshots/

# Lock files for other package managers
yarn.lock
package-lock.json

# pnpm lockfile
pnpm-lock.yaml

# Ignore IntelliJ and WebStorm project files
.idea/

# Ignore TypeScript build info files
*.tsbuildinfo

*.tgz

# Ignore npm credentials
.npmrc

# temp
temp/

# lib npm package outpus
lib/
